*:before,
*:after,
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
a,
img,
footer,
header,
nav,
ul,
h1,
h2{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Helvetica, sans-serif;
}
.page-wrapper{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}
.page-header{
    margin: 20px 0;
    padding: 15px 10px;
    background-color: lightgray;
}
.page-logo a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
}
.page-title{
    margin: 0 10px;
}
.sections-wrapper{
    display: flex;
    justify-content: space-between;
    /*height: 100vh;*/
}
.side-menu{

}
.nav-list{
    list-style: none;
}
.nav-list--item{
    font-size: 25px;
    padding: 15px 25px;
    cursor:pointer;
}
.nav-list--item:hover{
    background-color: lightseagreen;
}
.main-content--wrapper{
    width: 80%;
}
.content-title{
    text-align: center;
}